nav{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}
li{
    padding-top: 05.rem;
    margin: 0 1rem 0 1rem;
}